@charset "UTF-8";form{
	width: 450px;
	height:470px;
	border:2px solid black;
	margin:100px 0 0 480px;
}
p {
	margin:30px 0 0 50px;
}
label{
	margin:30px 0 0 50px;
	clear:right;
}
input{
	margin-left: 70px;
	width:185px;
	height:20px;
}
select{
	margin-left:50px;
	width:195px;
	height:30px;
}
#lang select{
	margin-left:20px;
}
textarea{
	margin:10px 0 0 50px;
}
button{
	width:75px;
	height:35px;
	border-radius:5px;
	margin:20px 0 0 315px;
	background-color:black;
	color:white;
}
h1 {
	text-decoration:underline;
}
.java h1{
	text-decoration:none;
	font-size:x-large;
	text-align: center;
}
.java a {
	text-decoration:none;
	color:white;
	margin:5px 0 0 5px;
}
.java button {
	margin:5px 0 0 955px;
	
}
fieldset{
	width: 600px;
	height: 70px;
	margin:50px 0 0 400px;
}
span{
	color:red;
}
.info{
	height: 400px;
	width: 450px;
	border: 2px solid black;
	margin: 100px 0 0 500px;
}
.info h1{
	margin-left: 30px;
}
.info c{
	float:left
}
.info a{
	color:white;
	text-decoration:none;
}